/ %h1
/   = "You searched for #"+@searchword.to_s
/ %br/
/ - $twitter.search(@searchterm).take(1000).collect do |tweet|
/   - tweet.urls.each do |url|
/     = link_to("#{url.display_url}", "http://#{url.display_url}", target: 'new')
/     %br/

- $twitter.search("#Batman", result_type: "recent", lang: "en").take(50).collect do |tweet|
  .tweet
    = "#{tweet.text}"