// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tweet {
  margin: 10px;
  padding: 10px;
  width: 50%;
  border: 1px solid blue;
  border-radius: 25px;
}